html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
    height: 100%;
}
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    color: $default-color;
    font-family: $fontDefaultMedium;
    background: $main-bg;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: row;

    overflow: hidden;
    height: 100vh;
}
html,
body {
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus::-moz-placeholder {
    color: transparent !important;
}

*[autofocus]::-moz-placeholder:focus {
    color: $placeholder-txt !important;
}

*:focus:-moz-placeholder {
    color: transparent !important;
}

*[autofocus]:-moz-placeholder:focus {
    color: $placeholder-txt !important;
}

*:focus::-webkit-input-placeholder {
    color: transparent !important;
}

*[autofocus]::-webkit-input-placeholder {
    color: $placeholder-txt !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "gilroybold";
    src: url("../fonts/gilroy-bold-webfont.woff2") format("woff2"),
        url("../fonts/gilroy-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroysemibold";
    src: url("../fonts/gilroy-semibold-webfont.woff2") format("woff2"),
        url("../fonts/gilroy-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroymedium";
    src: url("../fonts/gilroy-medium-webfont.woff2") format("woff2"),
        url("../fonts/gilroy-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button {
    width: 200px;
    padding: 18px 0;
    font-family: $fontGilroyBold;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: normal;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 360;
    transition: all 0.3s ease-in;

    &--primary {
        border: 1px solid $orange;
        color: $orange;
        background-color: transparent;
        &:hover {
            color: $white;
            background: $orange;
        }
    }
    &--secondary {
        background-color: $orange;
        color: $white;
        border: 1px solid $orange;
        &:hover {
            color: $orange;
            background: $white;
            border: 1px solid $orange;
        }
    }
}


.header-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.title {
    width: 100%;
    font-family: $fontGilroyBold;
    font-size: 90px;
    line-height: 1.11;
    color: $default-color;
}
.justify-content-center {
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
    margin: 0 auto;
}
.page-title {
    font-family: $fontGilroyBold;
    font-size: 60px;
    line-height: 1;
    letter-spacing: normal;
    color: $default-color;
}
.page-txt {
    font-family: $fontDefaultMedium;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: normal;
    color: $default-color;
}
.scroll {
    font-family: $fontGilroyBold;
    font-size: 14px;
    letter-spacing: normal;
    color: $default-color;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -35px;
    z-index: 300;
    cursor: pointer;
}
.container-pagination {
    position: relative;
}

.section {

    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100vh;
    &.is-active {
        opacity: 1
    }

    &:not(.footer-section):not(.slider-about-section):not(.about-section) {
        .container {
            height: calc(100vh - 150px);
        }
    }
    &:not(.slide-intro):not(.slider-about-section):not(.about-section) {
        padding: 75px 0;
    }

}

.about-section {
    background-color: $grey;
    padding: 100px 0;
    .align-items-center {
        height: calc(100vh - 200px);
        //height:  100vh;
    }
    .container {
        position: relative;
       height: calc(100vh - 200px);
    }
    .row {
        height: calc(100vh - 200px);
        align-items: center;
    }
    .col-md-6,
    .col-md-5 {
        //height: 100%;
    }
    img {
        max-height: 100%;
        max-width: 100%;
        opacity: 0;
        margin: 0 auto;
    }
    &__img {
        display: grid;
        height: 100%;
    }
}

.logo {
    width: 162px;
    height: 63px;
    margin: 12px 0 0 52px;
    display: block;
    cursor: pointer;
    background: url("../img/nerio_logo.svg") 0 0 no-repeat;
}
.container-app {
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 405;
    opacity: 0;
}
.menu {
    display: inline-block;

    &__burger {
        display: block;
        width: 22px;
        height: 8px;
        cursor: pointer;
        position: relative;
        margin: 35px 52px 0 0;
        &.is-active {
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    width: 22px;
    height: 22px;
    z-index: 405;
    &__line {
        width: 100%;
        height: 2px;
        background-color: $default-color;
        margin-bottom: 4px;
        &--top {
            width: 22px;
        }
        &--bottom {
            width: 18px;
        }
        &--top, &--bottom {
            transition: transform .45s ease-in-out;
        }
    }
    &.is-active {
        .burger__line--top {
            transform: translateY(9px) rotate(45deg);
        }

        .burger__line--bottom {
            width: 22px;
            transform: translateY(3px) rotate(-45deg);
        }
    }
}

.about {
    padding: 85px 0 0 0;

    &.active {

    }

    .line-orange {
        position: absolute;
        top: 118px;
        left: -82px;
        width: 50px;
        height: 4px;
        opacity: 0;
        background-color: $orange;
    }

    &__title {
        @extend .page-title;
        padding-bottom: 75px;
        position: relative;
    }
    &__txt {
        @extend .page-txt;
        padding-bottom: 50px;
    }
    &__about {

    }
}
.main-slide {
    &__img {
        opacity: 0;
    }

    &__title {
        @extend .page-title;
        padding-bottom: 42px;
        width: 100%;
        position: relative;
        top: 10px;
        opacity: 0;
    }

    &__txt {
        @extend .page-txt;
        padding-bottom: 65px;
        padding-right: 20px;
        width: 100%;
    }

    &__item {
        height: 100%;
        left: 0;
        width: 100%;
        display: flex;
        &.is-active {
        }
        .align-items-center {
            height: calc(100vh - 150px);
        }

        .row {
            height: 100%;
        }
    }
}
.slide-content {
    opacity: 1;
}
.slider-about-section {
    background: $white;

    padding: 100px 0 75px 0;

    @media (min-width: 1440px) {
        padding: 75px 0 100px 0;
        .container {
            max-width: 1180px;
        }
    }

    .container {
        position: relative;
        height: calc(100vh - 175px);
        @media (min-width: 1440px) {
            height: calc(100vh - 175px);
        }
    }

}



.slide.slide2 {
    background: $grey;
}
.slide3 {
    background: #fff;
}
.slide1 {
    background: #fff;
}
.container {
    //border: 1px solid red;
    //.col-md-5 {
    //    border: 1px solid red;
    //}
    //.col-md-6 {
    //    border: 1px solid red;
    //}
}
.letter {
    opacity: 0;
}
.indicator {
    position: absolute;
    top: 117px;
    transition: .6s;
    z-index: -1;
    font-family: $fontDefaultMedium;
    font-size: 14px;
    letter-spacing: normal;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 2px $orange;
    color: $default-color;
}
.aside-pagination {
    position: absolute;
    width: 50px;
    z-index: 400;
    opacity: 0;
    top: 0;
    left: 0;
    padding-top: 98px;

    @media (min-width: 1440px) and (min-height: 800px) {
        top: 100px;
    }

    @media (min-height: 800px) {
        margin-top: 190px
    }

    &__href {
        margin-top: 34px;
        font-family: $fontDefaultMedium;
        font-size: 14px;
        letter-spacing: normal;
        color: $grey-light;
        width: 50px;
        height: 50px;
        border-radius: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.is-active {
        }
    }
}
.centered-block {
    height: 100%;
    display: flex;
    align-items: center;
}

.inner-pagination  .inner-pagination__item:last-of-type .inner-pagination__txt:after {
    display: none;
}
.inner-pagination {
    display: flex;
    margin-bottom: 82px;
    &__item {
        position: relative;
    }
    &__number {
        display: inline-block;
        width: 100%;
        font-family: $fontGilroyBold;
        font-size: 14px;
        letter-spacing: normal;
        color: $orange;
        padding-bottom: 2px;
    }

    &__txt {
        display: inline-block;
        width: 100%;
        font-family: $fontGilroySemi;
        font-size: 14px;
        font-weight: 500;
        color: $default-color;
        padding-bottom: 10px;

        &:after {
            content: "";
            display: inline-block;
            width: 30px;
            margin-left: 20px;
            height: 1px;
            background-color: #cfdbe6;
            position: relative;
            top: -3px;
        }
    }
}
.footer-header-bg {
    position: absolute;
    width: 100%;
    background: $white;
    height: 90px;
    left: 0;
    top: 0;
    z-index: 2;
}
.container-fluid.no-gutters {
    padding: 0;
}
.contact-us {
    text-align: center;
    height: 100vh;
    background: $white;

    .button {
        display: inline-block;
    }

    &__container-center {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $fontGilroyBold;
        font-size: 50px;
        line-height: 1;
        color: $default-color;
        margin-bottom: 80px;
        display: inline-block;
        width: 100%;
    }
}

.slide-intro .row h1 div {
    display: inline-block;
    letter-spacing: -11px;
}

.slide-intro .row h1 > .words1,
.slide-intro .row h2 > .words1 {
    position: relative;
    vertical-align: bottom;
}

.slide-intro .letter {
    position: absolute;
}

.slide-intro .letter.creative2--c,
.slide-intro .letter.creative--c {
    top: 23.11365807vh;
    left: 8.33333333vw;
    width: 3.21428571%;
    max-width: 54px;
}

.slide-intro .letter.creative2--r,
.slide-intro .letter.creative--r {

    top: 0;
    left: 33.33333333%;
    width: 2.61904762%;
    max-width: 44px;
}

.slide-intro .letter.creative2--e1,
.slide-intro .letter.creative--e1 {
    top: 23.11365807vh;
    right: 32.79761905%;
    width: 2.44047619%;
    max-width: 41px;
}

.slide-intro .letter.creative2--a,
.slide-intro .letter.creative--a {
    top: 23.11365807vh;
    right: 13.86904762%;
    width: 3.0952381%;
    max-width: 52px;
}

.slide-intro .letter.creative2--t,
.slide-intro .letter.creative--t {
    bottom: 20.24832856vh;
    left: 16.66666667%;
    width: 6.25%;
    max-width: 105px;
}

.slide-intro .letter.creative2--i,
.slide-intro .letter.creative--i {

    bottom: 0;
    left: 32.85714286%;
    width: .6547619%;
    max-width: 11px;

}

.slide-intro .letter.creative2--v,
.slide-intro .letter.creative--v {
    bottom: 0;
    right: 32.79761905%;
    width: 3.03571429%;
    max-width: 51px;
}

.slide-intro .letter.creative2--e2,
.slide-intro .letter.creative--e2 {
    bottom: 20.24832856vh;
    right: 14.3452381%;
    width: 2.44047619%;
    max-width: 41px;
}

.centered {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.orange-txt {
    color: $orange;
}
.char {
    opacity: 0;
}

.slide-left {
    padding-top: 10px;
    position: relative;
    height: 400px;
}
.col-left-slider {
    height: 400px;
}

@media (min-width: 1410px) {
    //.col-left-slider {
    //    height: 400px;
    //}
}
.align-self-center {
    align-self: center;
}
.slide-intro.slide-left .creative--r svg {
    transform: translateY(-50%);
}

.linea.linea_r {
    stroke-dasharray: 33;
    stroke-dashoffset: 40;
    animation: dash_r 2.5s linear forwards;
    animation-iteration-count: 2;
}

.linea_e1_2_1, .linea_e1_3_1, .linea_e1_1_1 {
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    animation: dash_e1 1.5s linear forwards;
    animation-iteration-count: 2;
    animation-delay: 2.5s;
}

.linea_t2 {
    stroke-dasharray: 47;
    stroke-dashoffset: 47;
    animation: dash_t2 1.8s linear forwards;
    animation-iteration-count: 2;
    animation-delay: 3s;
}

.linea_i {
    stroke-dasharray: 65;
    stroke-dashoffset: 65;
    animation: dash_i 1.5s linear forwards;
    animation-iteration-count: 2;
    animation-delay: 2.8s;
}

.linea_e2_2 {
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    animation: dash_e2 2.5s linear forwards;
    animation-iteration-count: 4;
    animation-delay: 3.2s;
}

.linea_e2 {
    stroke-dasharray: 36;
    stroke-dashoffset: 82;
    animation: dash_e2 1.5s linear forwards;
    animation-iteration-count: 4;
    animation-delay: 3.2s;
}

.linea_e2_2 {
    stroke-dasharray: 100;
    stroke-dashoffset: -33;
    animation: dash_e2 1.5s linear forwards;
    animation-iteration-count: 4;
    animation-delay: 5.5s;
}

@keyframes dash_r {
    to {
        stroke-dasharray: 95;
    }
}

@keyframes dash_e1 {
    to {
        stroke-dashoffset: 80;
    }
}

@keyframes dash_t2 {
    to {
        stroke-dasharray: 92;
    }
}

@keyframes dash_i {
    to {
        stroke-dashoffset: 130;
    }
}
@keyframes dash_e2 {
    to {
        stroke-dashoffset: 154;
    }
}

@keyframes dash_e2 {
    to {
        stroke-dasharray: 36;
    }
}

.footer-section {
    background: $orange;
    position: relative;
    &__left {
        background: $orange;
    }
    &__right {
        position: relative;
        padding: 0;
    }

    webkitClipPath: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    clipPath: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

}
.line-white {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    opacity: 0;
}

.words.words1 {
    width: 430px;
    height: 95px;
    position: relative;
    text-align: left;
}
.slide-intro .row h1 .char-letter-spacing {
    letter-spacing: -20px;
}

.words1 .word-1,
.words1 .word-2,
.words1 .word-3 {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
}
.word-2 .char,
.word-3 .char {
    opacity: 0;
}
.location {
    padding-top: 75px;

    &__title {
        position: relative;
        padding-top: 60px;
        font-family: $fontGilroyBold;
        font-size: 50px;
        line-height: 1.2;
        letter-spacing: normal;
        color: $white;
        margin-bottom: 70px;
    }
    &__txt {
        font-family: $fontDefaultMedium;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: normal;
        color: $white;
    }
}

.map {
    position: absolute;
    width: 100%;
    right: 0;
    top:0;
    z-index: -1;
    background: #767d85;
    height: 100%;
    &__img {
        object-fit: cover;
        //height: 500px;
        height: calc(100% - 165px)
    }
    &__marker {
        position: absolute;
        top: 28%;
        left: 50%;
        margin-left: -15px;
        z-index: 2;
    }
}
.map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.footer {
    position: absolute;
    z-index: 351;
    height: 100px;
    padding: 36px 0;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    bottom: 0;

    &__txt {
        font-family: $fontGilroySemi;
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: normal;
        color: #000000;
    }
    &__nav {
        text-align: right;
    }
    &__item {
        display: inline-block;
        padding-left: 50px;

         a {
             color: #000;
             text-decoration: underline;
             font-family: $fontGilroySemi;
             &:hover {
                 text-decoration: none;
             }
         }
    }
}

.row-flex {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.col-50 {
    display: inline-block;
    width: 50%;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0,0,0,0);
    visibility: hidden;
}
.navigation {
    transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
    width: 40%;
    max-width: 500px;
    height: 100vh;
    background: $white;
    z-index: 402;
    text-align: center;
    padding: 130px 0 0;

    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    right: 0;

    &__title {
        font-family: $fontGilroyBold;
        font-size: 60px;
        color: $default-color;
        margin-bottom: 50px;
    }
    &__list {

    }
    &__item {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 34px;
    }
    &__href {
        color: $default-color;
        font-family: $fontGilroyBold;
        font-size: 36px;
        letter-spacing: 1px;
        position: relative;
        transition: all 0.45s cubic-bezier(0.68, -0.25, 0.205, 1.25);

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: 0;
            background-color: $orange;
            -webkit-transition: all 0.45s cubic-bezier(0.68, -0.25, 0.205, 1.25);
            transition: all 0.45s cubic-bezier(0.68, -0.25, 0.205, 1.25);
        }
        &:hover {
            text-decoration: none;
            color: $orange;
            &:after {
                left: 0;
                right: 0;
                height: 3px;
            }
        }
        &.is-active {
            color: $orange;
        }
    }
}






