<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />


  <link rel="stylesheet" media="all" href="css/app.css" />
</head>
<body>
<!-- BEGIN content -->
<div class="wrapper pages">

  <div class="popup contact-popup">
    <h3 class="popup__title">Let's talk</h3>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <input type="text" >
        </div>
        <div class="col-md-6">
          <input type="email" >

        </div>
      </div>

      <input> Describe your project

      <textarea>
        Message
      </textarea>

      <p>
        As a result of submitting completed “Contact Us” form, your personal data will be processed by
        Nerio GmbH. Please read our Privacy Notice for more information.
      </p>

      <p>

        <input type="checkbox">
        I am informed about processing of my personal data and the right to withdraw my consent
      </p>

      <button type="submit">Send message</button>

    </div>


  </div>

</div>
<!-- END content -->
<!-- BEGIN scripts -->

<!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js'></script>-->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v5.3.0/build/ol.js"></script>
<script src="https://unpkg.com/ol-mapbox-style@3.6.2/dist/olms.js"></script>


<!--<script type="text/javascript" src="js/app.js"></script>-->
<!-- END scripts -->
</body>
</html>
