<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />


  <link rel="stylesheet" media="all" href="css/app.css" />
</head>
<body>
<!-- BEGIN content -->
<div class="wrapper pages">
  <header class="header">
    <div class="header-container">
      <a href="/" class="logo">
      </a>
      <div class="menu">

        <div class="menu__burger">
          <div class="burger">
            <div class="burger__line burger__line--top"></div>
            <div class="burger__line burger__line--bottom"></div>
          </div>
        </div>
      </div>

    </div>
  </header>

  <section class="page-content">
    <div class="whatwedo">
      <div class="whatwedo__linebg1">
        <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.2864e-05 54.7859L1.52588e-05 -8.21774e-06C103.664 -3.68646e-06 188 84.3388 188 188L133.209 188C133.209 114.55 73.4467 54.7859 1.2864e-05 54.7859Z" fill="#CEE8F7"/>
        </svg>
      </div>

      <div class="whatwedo__linebg2">
        <svg width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="65" cy="65" r="55" stroke="#E6E6E6" stroke-width="20"/>
        </svg>
      </div>

      <div class="whatwedo__linebg3">
        <svg width="56" height="21" viewBox="0 0 56 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="56" width="21" height="56" transform="rotate(90 56 0)" fill="#F85B32"/>
        </svg>
      </div>

      <div class="whatwedo__linebg4">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.1414 100H0C0 44.8597 44.861 0 100 0V29.1439C60.9308 29.1439 29.1414 60.9326 29.1414 100Z" fill="#FEBF1C"/>
        </svg>
      </div>

      <div class="container">
        <h1 class="whatwedo__title">What we do<span class="orange-txt">.</span></h1>
      </div>

      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-12 col-lg-6 col-sm-12">
            <div class="whatwedo__linebg5">
              <svg width="21" height="82" viewBox="0 0 21 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="21" height="82" fill="#4D3EF4"/>
              </svg>
            </div>

            <div class="whatwedo__wrapper">

              <div class="whatwedo__block">
                <h3 class="whatwedo__subtitle">Creation</h3>

                <p  class="whatwedo__txt">
                  We create and operate high performing websites focused on showcasing your product or service. You can turn
                  to us for marketing and technology know-how. You’ll find out how strong our team is – that we are not
                  only committed, but reliabletoo.</p>

                <p class="whatwedo__txt">
                  We constantly work towards the future and stay competition oriented. Our team of sworn professionals
                  has been carefully selected and have years of experience. Most importantly, our strength comes from
                  our creativity. We’ll work with you to create exactly what
                  you need and find solutions for any obstacle.</p>

              </div>

              <div class="whatwedo__block">
                <h3 class="whatwedo__subtitle">Consulting</h3>

                <p  class="whatwedo__txt">
                  Our consultation services will have you on the way to digital transformation. We specialize in
                  market-and demand-oriented strategies. We have experience in go-to-market strategy, shop systems,
                  online marketing,  conversion rate optimization, and more.

                <p class="whatwedo__txt"> Whether your e-commerce project is new or well established, we will build
                  you an online
                  strategy that excites your customers and achieves your business goals. We’ll advise you on every step
                  of the process, from concept, to selection of your service providers for strategic communications,
                  to final optimization.</p>

              </div>

              <div class="whatwedo__block">
                <h3 class="whatwedo__subtitle">Investment</h3>

                <p  class="whatwedo__txt">
                  We partner with passionate B2C entrepreneurs to bring them to the next stage of commercial
                  success with our investments. We only choose to work with promising businesses, so you know our
                  passion for your product is genuine and we see real growth potential.</p>

                <p class="whatwedo__txt">We look for small craft and commercial businesses that
                  specialize in niche markets – both online and
                  brick-and-mortar.
                </p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-lg-offset-1 ml-lg-auto col-md-12  col-sm-12">

            <div class="aside-form">
              <h3 class="aside-form__title">Have a project
                in mind?</h3>

              <button class="button button--primary js-show-popup">Let’s talk</button>

            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="contact-us contact-us--pages">
      <div class="contact-us__container-center">
        <div class="contact-us__animation">
          <h4 class="contact-us__title">Have a project in mind?</h4>
          <button class="button button--secondary js-show-popup">Contact us</button>
        </div>
      </div>
    </div>

  </section>

  <section class="footer-section">

    <div class="container-fluid no-gutters">
      <div class="row row-flex no-gutters">
        <div class="col-lg-4 offset-lg-1 col-lg-4 offset-lg-1 col-md-12  col-sm-12 footer-section__left">
          <div class="location">
            <h4 class="location__title">Location <span class="line-white"></span></h4>
            <address class="location__txt">Funkenburgstraße 17  </address>
            <address class="location__txt"> 04105 Leipzig </address>
          </div>
        </div>
        <div class="col-lg-7 footer-section__right no-gutters col-md-12  col-sm-12">
          <div id="map" class="map">
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">

        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 col-sm-6 col-6">
            <p class="footer__txt">© 2018 Nerio GmbH</p>
          </div>
          <div class="col-md-6 col-sm-6 col-6">
            <nav class="footer__nav">
              <ul>
                <li class="footer__item"><a href="/legal.html">Legal</a></li>
                <li class="footer__item"><a href="/policy.html">Privacy</a></li>
              </ul>
            </nav>
          </div>

        </div>

      </div>
    </footer>

  </section>


  <section class="overlay"></section>

  <nav class="navigation">
    <h4 data-nav class="navigation__title">Menu<span class="orange-txt">.</span></h4>
    <ul class="navigation__list">
      <li data-nav class="navigation__item"><a class="navigation__href" href="index.html">Home</a></li>
      <li data-nav class="navigation__item"><a class="navigation__href" href="/aboutus.html">About us</a></li>
      <li data-nav class="navigation__item"><a class="navigation__href" href="/whatwedo.html">What we do</a></li>
      <li id="contacts" data-nav class="navigation__item"><a class="navigation__href" href="">Contact</a></li>
    </ul>

  </nav>

  <!--//popup-->
  <section class="overlay2"></section>
  <div class="popup contact-popup">
    <div class="popup__close">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 1L1 19" stroke="black" stroke-opacity="0.3"/>
        <path d="M19 19L1 0.999999" stroke="black" stroke-opacity="0.3"/>
      </svg>
    </div>
    <form data-parsley-validate class="form" name="form-contact" id="form-contact" data-parsley-validate>

      <div class="container">
        <div class="row no-gutters">
          <h3 class="popup__title">Let's talk</h3>
        </div>
      </div>
      <div class="container">
        <div class="row no-gutters justify-content-between">
          <div class="col-48">
            <div class="form__control">
              <input  name="" required
                      class="form__input"
                      type="name"
                      data-msg-required="The field is required."
                      data-parsley-errors-container=".error-form1"
              >
              <label class="form__label">
                <span class="form__required">*</span>Name
              </label>

              <div  class="error error-form1"></div>
            </div>
          </div>
          <div class="col-48">
            <div class="form__control">

              <input class="form__input" required name=""
                     data-msg-required="The field is required."
                     data-parsley-errors-container=".error-form2"
                     type="email">
              <label class="form__label">
                <span class="form__required">*</span>Email
              </label>

              <div  class="error error-form2">
              </div>
            </div>
          </div>
        </div>

        <div class="form__control">

          <input class="form__input" name="" type="text">
          <label class="form__label">Describe your project</label>
        </div>

        <div class="form__control">

          <input class="form__input" required name=""
                 data-msg-required="The field is required."
                 data-parsley-errors-container=".error-form3"
                 type="text">

          <label class="form__label">
            <span class="form__required">*</span>Message
          </label>


          <div  class="error error-form3">
          </div>
        </div>

        <div class="form__control form__control--last">
          <p class="form__txt"> As a result of submitting completed “Contact Us” form, your personal
            data will be processed by Nerio GmbH. Please read our <a href="/policy.html">Privacy
              Notice</a> for more information. </p>

          <div>
            <label class="checkbox">
              <input
                data-parsley-required-message=""
                data-parsley-checkmin="1"
                data-parsley-error-message="You should agree with Privacy Policy"
                name="policy[]" required type="checkbox" />
              <span>I am informed about processing of my personal
                  data and the right to withdraw my consent </span>
            </label>
          </div>

        </div>

        </label>

        <div class="form__send">
          <button class="button button--secondary " type="submit">Send message</button>
        </div>

      </div>
    </form>
  </div>

</div>
<!---->
<!--<p>header</p>
-->
<!---->
<!--
<svg class="icon icon-facebook"><use xlink:href="img/sprite.svg#icon-facebook"></use></svg>
-->
</div>
<!-- END content -->
<!-- BEGIN scripts -->

<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->
</body>
</html>
